<!--Perfil-->
<section id="perfil" class="about">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <img src="assets/IMG/foto-de-perfil.jpg" class="rounded-circle border border-1 border-dark w-75" alt="..." title="Foto de perfil">
            </div>
            <div class="col-md-8 col-lg-9"></div>
            <div class="datos-personales col-md-4 col-lg-3 mt-3 ">
                <h3>Jonatan Alexander Vargas</h3>
                <h6>Full Stack Developer Jr. | Periodista | Diseñador UX/UI</h6>
                <p>Buenos Aires, Argentina</p>
            </div>
            <div class="col-1"></div>
             <!--Acerca de-->
            <div class="acerca-de-mi col-md-7 col-lg-8 mt-lg-4">
                <h3 class="mt-2">Acerca De</h3>
                <p>
                    Soy un apasionado por la comunicación y la tecnología.
                    Me encanta aprender y adquirir conocimiento todo el tiempo, y al mismo tiempo comunicarlo y contagiar a las personas de esto que tanto me gusta.
                    Me recibí de Periodista y actualmente me encuentro capacitándome en el área de la programación y diseño UX/UI.
                <p>
            </div>
        </div>
    </div>
</section>
