<!--Experiencia-->
<section id="experiencia">
    <div class="container mt-4 acerca-de-mi">
        <div class="row">
            <div class="col-2 text-center mt-3">
                <h3>Experiencia</h3>
            </div>
            <div class="col-12"></div>
            <div class="col-2 text-center mt-2">
                <img src="assets/IMG/Logos-Edu-Exp/logo-merlo.png" class="rounded-circle w-50" alt="..." title="Logo Municipalidad de Merlo">
            </div>
            <div class="col-10">
                <h5>Empleado Administrativo</h5>
                <h6>Municipalidad de Merlo - Jornada Parcial</h6>
                <p>
                    ago. 2015 - mar 2023 · 7 años 7 meses<br> 
                    Buenos Aires, Argentina
                </p> 
            </div>
            <div class="col-12 mt-4"></div>
            <div class="col-2 text-center mt-2">
                <img src="assets/IMG/Logos-Edu-Exp/logo-isec.jpeg" class="rounded-circle w-50" alt="..." title="Logo ISEC">
            </div>
            <div class="col-10">
                <h5>Columnista</h5>
                <h6>ISEC - Nueva Generación de Comunicadores</h6>
                <p>
                    mar. 2019 - dic. 2020 · 1 año 10 meses<br> 
                    Buenos Aires, Argentina
                </p> 
            </div>
            <div class="mt-2"></div>
        </div>
    </div>
</section>
