<!--Educación-->
<section id="educacion">
    <div class="container mt-4 acerca-de-mi">
        <div class="row">
            <div class="col-2 text-center mt-3">
                <h3>Educación</h3>
            </div>
            <div class="col-12"></div>
            <div class="col-2 text-center mt-2">
                <img src="assets/IMG/Logos-Edu-Exp/logo-isec.jpeg" class="rounded-circle w-50" alt="..." title="Logo ISEC">
            </div>
            <div class="col-10">
                <h5>ISEC - Nueva Generación de Comunicadores</h5>
                <h6>Tecnicatura Superior en Periodismo</h6>
                <p> mar. 2018 - dic. 2020</p> 
            </div>
            <div class="col-12 mt-4"></div>
            <div class="col-2 text-center mt-2">
                <img src="assets/IMG/Logos-Edu-Exp/argProg-Logo2.jpg" class="rounded-circle w-50" alt="..." title="Logo AP">
            </div>
            <div class="col-10">
                <h5>Argentina Programa</h5>
                <h6>Full Stack Developer Jr.</h6>
                <p>feb. 2022 - ene. 2023</p> 
            </div>
            <div class="col-12 mt-4"></div>
            <div class="col-2 text-center mt-2">
                <img src="assets/IMG/Logos-Edu-Exp/logo-Coursera.png" class="rounded-circle w-50" alt="..." title="Logo Coursera">
            </div>
            <div class="col-10">
                <h5>Coursera</h5>
                <h6>Diseño de Experiencia del Usuario (UX) de Google</h6>
                <p>jul. 2022 - nov. 2022</p> 
            </div>
            <div class="col-12 mt-4"></div>
            <div class="col-2 text-center mt-2">
                <img src="assets/IMG/Logos-Edu-Exp/coderhouse_logo.webp" class="rounded-circle w-50" alt="..." title="Logo Coder">
            </div>
            <div class="col-10">
                <h5>Coderhouse</h5>
                <h6>Carrera de Desarrollo UX/UI</h6>
                <p>jun. 2022 - may. 2023</p> 
            </div>
            <div class="col-12 mt-4"></div>
            <div class="col-2 text-center mt-2">
                <img src="assets/IMG/Logos-Edu-Exp/Logo-Udemy.png" class="rounded-circle w-50" alt="..." title="Logo Udemy">
            </div>
            <div class="col-10">
                <h5>Udemy</h5>
                <h6>Front End Web Developer Jr.</h6>
                <p>feb. 2021 - may. 2021</p> 
            </div>
            <div class="mt-2"></div>
        </div>
    </div>
</section>
